#main-map{
  width: 900px;
  height: 550px;
  text-align: center;
}

#weather-info{
  float: left;
  border: 1px solid black;
  box-sizing: border-box;
  width: 25%;
}

div{
  float: left;
}

body {
  font-family: 'Roboto', sans-serif;
}

#how-to{

}

#window-img{
  width: 200px;
  height: 120px;
}

p{
  margin-left: 10px;
  display: list-item;
}

h1{
  font-family: 'Graduate', 'cursive';
  margin: 0;
  font-size: 94px;
  font-weight: bolder;
  margin-left: 10px;
}

h2{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding-left: 75px;
  font-size: 22px;
  font-style: italic;
  padding-bottom: 10px;
}

#weather-btn{
  width: 15px;
  height: 15px;
}

#current-weather-header {
  padding-left: 5px;
  font-size: 20px;
}

li{
  list-style-type: circle;
}
