#main-map{
  width: 850px;
  height: 500px;
}

#weather-info{
  display: inline-block;
}

div{
  display: inline-block;
}

img{
  width: 200px;
  height: 120px;
}

p{
  display: inline-block;
  text-align: center;
}

h1{
  font-family: 'Graduate', 'cursive';
  margin: 0;
  font-size: 92.25px;
  font-weight: bolder;
}

h2{
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding-left: 15px;
}
